.setting-panel {
    width: 220px;
    height: 220px;
    position: absolute;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    margin: -235px 0 0  -122px;
    background-color:#eee7e7;
    border: 12px solid #727272;
}

.button-wrapper {
    display: inline;
}