.setting-panel {
    width: 220px;
    height: 220px;
    position: absolute;
    border-radius: 100%;
    top: calc(50% - 121px);
    left: calc(50% - 121px);
    background-color: #eee7e7;
    border: 12px solid #727272;
}

.button-wrapper {
    display: inline;
}