.app-game {
    width: 472px;
    height: 472px;
    border-radius: 100%;
    position: relative;
    text-align: center;
    margin: auto;
    background-color: #727272;
    box-shadow: 0px 0px 8px #727272;
}

.sector {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #727272;
    border: 12px solid #727272;
}

.sector-wrapper {
    position: relative;
    top: 12px;
}
  
.top-right {
    border-top-right-radius: 100%;
}
  
.bottom-right {
    border-bottom-right-radius: 100%;
}
  
.bottom-left{
    border-bottom-left-radius: 100%;
}
  
.top-left {
    border-top-left-radius: 100%;
}

.inline {
    display: inline-block;
}

.red {
    background-color: #BD2424;
}
.red.active {
    background: radial-gradient(#ef8b8b 1%, #f75b5b 40%, #bd2424);
}
.blue {
    background-color: #2127C5;
}
.blue.active {
    background: #ffffff;
}
.green {
    background-color: #33A81F;
}
.green.active {
    background: #ffffff;
}
.yellow {
    background-color: #D8D12B;
}
.yellow.active {
    background: #ffffff;
}

.disabled {
    pointer-events: none;
}

.available {
    cursor: pointer;
}
