.toggle-themes-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    background-color: #eee060;
    color: #3a3a3a;
    border: 2px solid #3a3a3a;
    border-radius: 8px;
    outline: none;
    margin-top: 10vh;
    cursor: pointer;
}