.app-display {
    width: 100px;
    height: 50px;
    border: 1px solid #727272;
    border-radius: 10px;
    background-color: #C2C2C2;
    margin: 2vh auto 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}